.heart {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ff4949;
  border-radius: 50%;
  transform: rotate(45deg);
}
.heart:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #50bfff;
  opacity: 0.8;
}
.heart:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -50%;
  width: 100px;
  height: 100px;
  background-color: #ff9900;
  border-radius: 50%;
  opacity: 0.8;
}
